.navbar{
   padding: 0 20px;
}
button.navbar-toggler{
   border: none;
   padding: 0;
}
.navbar-brand{
   color: #ED3833;
}
.nav-link:focus, .nav-link:hover{
   color: #ED3833!important;
}
.show{
   border: none;
}
button:focus{
   outline:none
}

@media screen and (max-width: 500px){
   .navbar-brand{
      font-size: 0.8rem;
   }
}