.navbar{
   padding: 0 20px;
}
button.navbar-toggler{
   border: none;
   padding: 0;
}
.navbar-brand{
   color: #ED3833;
}
.nav-link:focus, .nav-link:hover{
   color: #ED3833!important;
}
ul.menu li:hover, ul.menu li:active, ul.menu li:focus{
   color: #ED3833!important;
}
.show{
   border: none;
}
button:focus{
   outline:none
}

/*
button.navbar-toggler[_ngcontent-lvv-c47] {
   border: none;
   padding: 0;
}
.navbar-toggler {
   font-size: 1.25rem;
   line-height: 1;
   background-color: transparent;
   border: 1px solid transparent;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
*/


@media screen and (max-width: 500px){
   .navbar-brand{
      font-size: 0.8rem;
   }
}