
   <div [ngClass]="{'box-shadow': (properties.get(dish.category).count <= order.getCount(dish.category) && !order.inOrder(dish))}"
   class="card shadow" [ngStyle]="{'border-color': dish.selected? properties.get(dish.category).color : '#fff'}" >
      <img class="card-img-top" src="{{dish.pict}}" alt="dish">
      <span class="dairy" *ngIf="dish.dairyFree == true"><img src="../../assets/img/dairy.png"  alt="dairy free" data-title="dairy free"></span>
      <div class="card-body">
         <h5 class="card-title">{{dish.name}}</h5>
         <div [ngStyle]="{'display':ingredients}">
            <p class="card-text">Ingredients:</p>
            <p class="ingridient" *ngFor="let x of dish.ingredients">{{x}}</p> 
         </div> 
      </div>
      <div class="card-footer">
         <app-button [dish]="dish"></app-button>
      </div>
   </div>




<!--
<div class="card">
   <img src="{{dish.pict}}" class="card-img-top" alt="...">
   <span class="dairy" *ngIf="dish.dairyFree == true"><img src="../../assets/img/dairy.png"  alt="dairy free" data-title="dairy free"> </span>
   <div class="card-body">
      <h5 class="card-title">{{dish.name}}</h5>
      <div [ngStyle]="{'display':ingredients}">
         <p class="card-text">Ingredients:</p>
         <p class="ingridient" *ngFor="let x of dish.ingredients">{{x}}</p> 
      </div> 
   </div>
   <div class="card-footer">
      <app-button></app-button>
   </div>
</div> 
-->