.card{
   margin-bottom: 30px;
   border-width: 3px;
}
.dairy{
   position: absolute;
   background: #fff;
   padding: 10px;
   border-radius: 50%;
}
span:hover:after {
   content: "dairy free";
   white-space: nowrap;
   position: absolute;
   left: 55px;
   background-color: #fff; 
   border-radius: 5px;
   padding: 0 10px;
   text-align: center;
}
.card-text{
   margin-bottom: 0;
}
.ingridient{
   margin-bottom: 0;
   font-size: 16px;
}
.card-footer{
   background: #fff;
   border: none;
   text-align: center;
}
.box-shadow{
   opacity: .3;
   pointer-events: none;
} 