<div class="container">
   <h1>Order</h1>
   <div class="row justify-content-between">
      <div class="col-lg-2 dish shadow" 
      *ngFor="let cat of numCategories"
      [ngStyle]="{'border-color': properties.get(cat).color}">
         <h5 [ngStyle]="{'border-bottom-color': properties.get(cat).color}">{{category[cat]}}</h5>
         <div class="dish-set">
            <a class="set"  routerLink="/dishes/{{cat}}" 
            *ngFor="let dish of getDishesInCategory(cat)">
               <img class="picture" src="{{dish.pict}}" alt="dish">
               <p class="text">{{dish.name}}</p>
            </a>
         </div>
      </div>
   </div>
   <div class="bottom">
      <button class=" btn btn-button btn-lg btn-order shadow" 
      (click)="goToUser()"
      *ngIf="order.isComplete()">Proceed to checkout</button>
   </div>   
</div>



<!--
<div class="container">
   <h1>Order</h1>
   <div *ngFor="let cat of numCategories">
      <div class="row" >
         <div class="col-lg-2">
            {{category[cat]}}
         </div>
         <div class="col-lg-10">
            <div class="row justify-content-between">
               <div class="col-lg-5" *ngFor="let dish of getDishesInCategory(cat)">
                  <span><img class="picture" src="{{dish.pict}}" alt=""></span>
                  <p>{{dish.name}}</p>
               </div> 
              
            </div>
         </div> 
      </div>
   </div>  
   <button  *ngIf="order.isComplete()">order</button>
</div>

-->
 
