h1{
   text-align: center;
   margin: 30px;
   padding-top: 30px;
   
}
h5{
   text-align: center;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   margin: 25px 0!important;
}
.picture{
   width: 100%;
}
.text{
   text-align: center;
   margin: 14px 0;
}
.dish{
   border-style: solid;
   border-width: 2px;
   border-radius: 7px;
   margin: 10px!important;
}
.set{
   padding-bottom: 20px;
}
.btn-order{
   text-align: center;
   margin: 50px;
   border-radius: 30px;
   padding: 10px 50px 15px 50px;
}
.bottom{
   text-align: center;
   margin: 30px 0 60px 0;
}
@media screen and (max-width: 991px){
   .dish{
      display: flex;
      align-items: center;
   }
   .dish-set{
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      justify-content: center;
   }
   h5{
      display: inline-block;
   }
   .set{
      max-width: 35%;
      margin: 15px;
      display: block;
      text-align: center;
   }
}