<div class="container">
   <h1>Dish sets</h1> 
   <div class="set shadow" 
   *ngFor="let set of ready">
      <div class="icons">
         <h4 class="header">{{set.name}}
            <span class="beef" *ngIf="contains(set.dishes,'beef') == false"><img src="../../assets/img/beef.png"  alt="beef free" data-title="beef free"></span>
            <span class="pork" *ngIf="(contains(set.dishes,'pork') || contains(set.dishes,'ham')) == false"><img src="../../assets/img/pork.png"  alt="beef free" data-title="pork free"></span>
            <span class="dairy" *ngIf="isDairyFree(set.dishes) == true"><img src="../../assets/img/dairy.png"  alt="dairy free" data-title="dairy free"></span></h4>
      </div>

      <div class="row justify-content-between">
         <div class="col-lg-2 set-dishes shadow" 
         *ngFor="let cat of numCategories"
         [ngStyle]="{'border-color': properties.get(cat).color}">
            <h5>{{category[cat]}}</h5>
            <div *ngFor="let dish of getDishOfCategory(cat,set)">
               <span><img class="picture" src="{{dish.pict}}" alt=""></span>
               <p class="text">{{dish.name}}</p>
            </div>
         </div>
      </div>
      <div class="bottom" *ngIf="!set.selected">
         <button class="btn btn-success"
         (click)="setOrder(set)">add to order</button>
      </div>
   </div>   
</div>





<!--
<div class="container">
   <div class="row set" *ngFor="let set of ready">
      {{set.name}},
      beef: {{contains(set.dishes,"beef")}},
      pork: {{contains(set.dishes,"pork")||contains(set.dishes,"ham")}}
      <div class="col-lg-1"  *ngFor="let x of set.dishes">      
            <span><img class="pict" src="{{x.pict}}" alt=""></span>
            {{x.name}}              
      </div>
   <div *ngIf="!set.selected">
      <button class="btn btn-warning"
      (click)="setOrder(set)">add</button>
   </div>
   </div>
</div>
{{isDairyFree(set)}}
-->