<div class="container">
   <div class="row set" *ngFor="let set of ready">
      {{set.name}},
      beef: {{contains(set.dishes,"beef")}},
      pork: {{contains(set.dishes,"pork")||contains(set.dishes,"ham")}}
      <div class="col-lg-1"  *ngFor="let x of set.dishes">      
            <span><img class="pict" src="{{x.pict}}" alt=""></span>
            {{x.name}}              
      </div>
   <div *ngIf="!set.selected">
      <button class="btn btn-warning"
      (click)="setOrder(set)">add</button>
   </div>
   </div>
</div>
<!--{{isDairyFree(set)}}-->