.box{
   border-radius: 3%;
}
.dish{
   display: flex;
   align-items: center;
   justify-content: center;
}
.picture{
   display: block;
   margin: 5px;
   width: 70px;
   height: auto;
}
.bottom{
   text-align: center;
}
.btn-sm{
   padding: 0 7px!important;
}