.box{
   border: solid 1px #FFF;
   border-radius: 20px;
   padding: 15px 0;
}
.dish{
   display: flex;
   align-items: center;
   justify-content: center;
}
.picture{
   display: block;
   border-radius: 10px;
   margin: 10px 5px 10px 5px;
   width: 60px;
   height: auto;
}
.bottom{
   padding-top: 10px;
   text-align: center;
}
.btn-sm{
   padding: 0 7px!important;
   margin-bottom: 0;
}