.container-fluid{
   background-color: #f5f5f5;
   min-height: calc(100vh - 230px);
}
h1{
   padding-top: 30px;
   color: #ED3833;
}
h3{
   text-align: center;
   padding-bottom: 20px;
}
ul{
   margin-bottom: 0;
   padding-bottom: 20px;
   list-style-type: none;
}
li{
   text-align: left;
}
.main{
   padding-bottom: 30px;
   text-align: center;
   margin: 0 auto;
}
.wrong{
   background: #F5F5F5;
   text-align: center;
   h1{
      color: #ED3833;
      margin: 30px 0 40px 0;
   }
   p{
      font-size: 1.2rem;
   }
   a{
      color: #000;
      text-decoration: underline;
   }
}
.paymant{
   padding-left: 45px;
   font-weight: 600;
}