/*You can add global styles to this file, and also import other style files */
$red: #ED3833;
.btn-success{
   background-color: $red;
   border-color: $red;
}
.btn-success:hover{
   background-color: darken($color: red, $amount: 20);
   border-color: darken($color: red, $amount: 20);
}