input.form-control {
   border:none;
   border-radius: 0;
   border-bottom: 2px solid#ED3833;
   padding: 0;
   margin-left: 10px;
}
.form-control:focus, .form-control:active{
   outline-width: 0!important;
   box-shadow: none;
}
.image{
   display: inline-block;
   margin-top: 10px;
}