h1{
   color: #ED3833;
}
.head{
   background: url(../../assets/img/header.jpg) no-repeat;
   background-size: cover;
   padding: 100px 0;
}
.subtitle{
   display: block;
   font-size: 1.5rem;
   margin: 40px 0 80px 0;  
   width: 70%;
}
.header-text{
   background-color: #ED3833;
   border-radius: 10px;
   color: #fff;
   display: inline-block;
   padding: 20px 50px 10px;
}
.rest{
   padding: 40px;
   h2{
      text-align: center;
      padding-bottom: 20px;
   }
}
.rest-left{
   padding: 30px;
   text-align: center;
}
.rest-right{
   padding: 20px 50px;
}
.about{
   background: url(../../assets/img/zakaz.jpg) no-repeat center top fixed;
   background-size: cover;
   color: #fff;
}
.about-text{
   padding: 70px;
}
.order{
   padding: 50px;
   h2{
      text-align: center;
      padding-bottom: 20px;
   }
}
.btn-order{
   background: #ED3833;
   border-radius: 30px;
   padding: 10px 30px;
   margin-bottom: 20px;
}
.btn-order:hover{
   background: #ce3633;
}
.order-down{
   text-align: center;
}
.pict{
   heigh: 35px;
   width: 35px;
}