<div class="head">
   <div class="container">
      <h1>Delivery of delicious Russian dishes</h1>
      <p class="subtitle">Service No.1 for the preparation of delicious home-made food with free delivery in Auckland</p>
      <div class="dlg_mess">
         <div class="header-text">
            <p>$10 discount</p>
            <p>for the first order</p> 
         </div>
      </div>
   </div>
</div>
<div class="rest">
   <div class="row">
      <div class="col-lg-5 rest-left">
         <img src="../../assets/img/rest.jpg" alt="">
      </div>
      <div class="col-lg-7 rest-right">
         <h2>Have a rest! We will take over caring for food.</h2>
         <p>Imagine your beloved  Russian grandmother came to your place and prepared tasty and varied home-made food for the whole family for the week ahead. You no longer need to stand by the hot stove and cook! You just have to take the dish that you want and warm it up!</p>
         <p>Our company has been operating since the beginning of 2019, but we are not new to this business. Our chefs are professionals who can cook more than one hundred delicious dishes. And the chief-cooker will carefully follow their preparation, as well as pay special attention to the quality and freshness of the products.</p>
      </div>
   </div>    
</div>  
<div class="about">  
   <div class="col-lg-8 about-text">
      <h2>How and how long meals can be stored?</h2>
      <p>We deliver fresh dishes, and the technology of packaging and storage of meals used by us allows the dishes to remain fresh and tasty in the refrigerator for about a week.</p>
      <p>You should follow simple rules so that the dishes do not deteriorate prematurely:</p>
      <ul>
         <li>Use only dry and clean appliances</li>
         <li>Close containers tightly</li>
         <li>Store containers in the refrigerator +3 - +5 degrees</li>
         <li>Reheat meals in portions as needed</li>
      </ul>
   </div>       
</div>
<div class="order">
   <div class="row">
      <div class="col-lg-7 order-left">
         <h2>Information about order</h2>
         <p>The order includes 8 dishes with a total weight of 8 kg:</p>
         <ul>
            <li>2 soups per 1 liter each</li>
            <li>2 main dishes per 1 kg each</li>
            <li>2 side dishes per1 kg each</li>
            <li>1 salad per1 kg</li>
            <li>1 dessert per1 kg</li>
         </ul>
         <p> This volume of food is enough for one person for 4-5 days approximately.</p>
         <div class="order-down">
            <button class="btn btn-danger btn-lg btn-order" type="button">Order now</button>
         </div>
      </div>
      <div class="col-lg-5 order-right">
         <img src="../../assets/img/order.jpg" alt="">
      </div>
   </div>
</div>

