<div class="container">
   <div class="row">
   <h1 class="col-lg-9">{{cat}}</h1>
   <div class="input-group col-lg-3">
         <button class="image"><img src="../../assets/img/search.png" alt=""></button>
      <input type="text" class="form-control" [(ngModel)]="searchStr">
   </div>
</div>
   <div class="row">
      <app-dish style="display: flex" class="col-lg-4" *ngFor="let dish of dishes | search:searchStr" 
      [dish] = "dish"
      [ingredients]="showIngredients"><!--здесь!!-->
      </app-dish>  
   </div>
</div>

     
   
        <!--
      <div class="col-lg-4" [ngStyle]="{'color': properties.get(dish.category).color}" *ngFor="let dish of dishes">
         <div>
            <img class="image" src="{{dish.pict}}" alt="">
         </div>           
         {{dish.name}}
      </div>
      -->