h1{
   display: inline-block;
}
.header{
   padding-top: 30px;
   text-align: center;
   position: relative;
}
.search{
   position: absolute;
   right: 0;
}
.menu{
   text-align: center;
}

@media screen and (max-width: 900px){
   .search{
      position: relative;
   }
}